* {
    font-family: 'Raleway', sans-serif;
    color: beige;
}

body {
    background-image: url(../images/prateek-katyal-q7fMY7kBBz8-unsplash-croppedagain.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main section table {
    margin: auto;
    margin-top: 10%;
    text-align: center;
    font-size: x-large;
    border-collapse: separate;
}

th {
    background-color: black;
    opacity: 85%;
    color: white;
}

td {
    background-color: grey;
    opacity: 90%;
    color: white;
}

th, td{
    padding: 10px;
}

main section table tr{
    padding-bottom: 50px;
}

